# Dependencies
node_modules

# Dependencies lock files (generated, shouldn't be formatted)
yarn.lock
package-lock.json
pnpm-lock.yaml

# Build output
dist
dist-ssr

# Vite cache
.vite

# Logs
*.log

# Coverage reports
coverage
